{% load static %}
<section class="hero" id="hero-bg">
    <img src="{% static 'techbrosApp/img/Hero.png' %}" 
     alt="TechBros" 
     class="hero-logo">
    <div class="ruleta">
        <div class="ram"><span>RAM</span></div>
        <div class="cpu"><span>CPU</span></div>
        <div class="gpu"><span>GPU</span></div>
        <div class="ssd"><span>SSD</span></div>
        <div class="mas"><span>Mas</span></div>
        <div class="case"><span>Case</span></div>
        <div class="psu"><span>PSU</span></div>
        <div class="mb"><span>MB</span></div>
    </div>
</section>
<script src="{% static 'techbrosApp/js/main.js' %}"></script>