{% load static %}
<div class="serviciosTitulo">
    <h1>Disfrute de nuestros servicios</h1>
    <p>Ofrecemos una amplia gama de servicios tecnológicos para satisfacer todas sus necesidades.</p>
</div>
<div class="servicios">
    <div class="services-intro">
    <ul class="services-list">
        <li><strong>Mantenimiento de computadoras</strong>
            <ul>
                <li>Limpieza interna y externa</li>
                <li>Cambio de pasta térmica</li>
                <li>Revisión y diagnóstico de hardware</li>
            </ul>
        </li>

        <li><strong>Soporte de software</strong>
            <ul>
                <li>Formateo e instalación de sistemas operativos</li>
                <li>Instalación y actualización de programas</li>
                <li>Eliminación de virus y optimización del sistema</li>
            </ul>
        </li>

        <li><strong>Redes y conectividad</strong>
            <ul>
                <li>Configuración de Wi-Fi y red cableada</li>
                <li>Solución de problemas de conexión</li>
                <li>Instalación de routers y repetidores</li>
            </ul>
        </li>

        <li><strong>Asesoría técnica</strong>
            <ul>
                <li>Recomendación de mejoras (RAM, SSD, etc.)</li>
                <li>Consejos para alargar la vida útil del equipo</li>
                <li>Compra y configuración de equipos</li>
            </ul>
        </li>
    </ul>
</div>
<div class="imagens"></div>


</div>
