{% extends 'techbrosApp/base.html' %}
{% load static %}

{% block hero %}
    {% include 'techbrosApp/partials/hero.html' %}
{% endblock hero %}

{% block content %}
<div class="text-employees">
  <h1>Los mejores técnicos en un solo lugar</h1>
  <p>Personas altamente capacitadas, con experiencia en múltiples áreas tecnológicas.</p>
  <p>Entrenados para ofrecer soluciones tecnológicas innovadoras y eficientes.</p>
</div>

<article class="grid-gallery">
  <img src="{% static 'techbrosApp/img/delicuente.jpeg' %}" alt="description of picture 1">
  <img src="{% static 'techbrosApp/img/depression.jpeg' %}" alt="description of picture 2">
  <img src="{% static 'techbrosApp/img/felipe.jpeg' %}" alt="description of picture 3">
  <img src="{% static 'techbrosApp/img/felipehumillado.jpeg' %}" alt="description of picture 4">
  <img src="{% static 'techbrosApp/img/hombredesnutrido.jpeg' %}" alt="description of picture 5">
  <img src="{% static 'techbrosApp/img/hombreguapo.jpeg' %}" alt="description of picture 6">
  <img src="{% static 'techbrosApp/img/personamala.jpeg' %}" alt="description of picture 7">
  <img src="{% static 'techbrosApp/img/sexy.jpeg' %}" alt="description of picture 8">
</article>


{% block servicios %}
  {% include 'techbrosApp/partials/servicios.html' %}
{% endblock servicios %}

{% endblock content %}
