/* ===============================
   ESTILOS GENERALES
================================ */
body {
    background-color: #d39494 !important;
    font-family: 'Inter', sans-serif !important;
    margin: 0;
    padding: 0;
}
/* ===============================
   NAVBAR
================================ */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    
    background-color: transparent !important;
    box-shadow: none;

    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.navbar.scrolled {
    background-color: rgba(105, 20, 20, 0.5) !important;
    box-shadow: 0 4px 10px rgba(34, 32, 32, 0.3);
}

.navbar-logo {
    position: absolute;
    height: 160px;
    width: auto;
}
.nav-link {
    position: relative;
    color: #000000 !important;
    font-size: 15px;
    text-decoration: none;
}

/* línea oculta */
.nav-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 0;
    height: 2px;
    background-color: #000000;
    transition: width 0.3s ease;
}

/* animación izquierda → derecha */
.nav-link:hover::after {
    width: 100%;
}
/* ===============================
   HERO
================================ */
.hero {
    position: relative;
    height: 100vh;

    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    box-shadow: rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

/* ===============================
   HERO CONTENT (LOGO + BOTÓN)
================================ */
.hero-content {
    
    position: absolute;
    top: 70px;
    left: 50%;
    transform: translateX(-50%);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-align: center;
    z-index: 3;
}
/* ===============================
   HERO LOGO
================================ */
.hero-logo {
    width: 820px;
    height: auto;
    opacity: 0;
    animation: logoEntrada 1.6s ease-out forwards;
}

@keyframes logoEntrada {
    from {
        opacity: 0;
        transform: translateY(-15px) scale(0.95);
    }
    to {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}
/* ===============================
   HERO BOTÓN
================================ */
.hero-btn {
    margin-top: 25px;

    padding: 14px 34px;
    border-radius: 40px;

    background-color: rgba(105, 20, 20, 0.5);
    color: #000000;
    font-weight: 600;
    font-size: 18px;
    text-decoration: none;

    backdrop-filter: blur(6px);
    border: 1px solid rgba(0, 0, 0, 0.2);

    opacity: 0;
    animation: botonEntrada 1.6s ease-out forwards;
    animation-delay: 0.6s;

    transition: transform 0.25s ease, background-color 0.25s ease;
}

.hero-btn:hover {
    transform: scale(1.05);
    background-color: rgba(0, 0, 0, 0.6);
    color: rgba(105, 20, 20);
}

@keyframes botonEntrada {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


.grid-gallery {
  --size: 100px;
  display: grid;
  grid-template-columns: repeat(6, var(--size));
  grid-auto-rows: var(--size);
  margin-bottom: var(--size);
  place-items: start center;
  gap: 5px;
  
  &:has(:hover) img:not(:hover),
  &:has(:focus) img:not(:focus){
    filter: brightness(0.5) contrast(0.5);
  }

  & img {
    object-fit: cover;
    width: calc(var(--size) * 2);
    height: calc(var(--size) * 2);
    clip-path: path("M90,10 C100,0 100,0 110,10 190,90 190,90 190,90 200,100 200,100 190,110 190,110 110,190 110,190 100,200 100,200 90,190 90,190 10,110 10,110 0,100 0,100 10,90Z");
    transition: clip-path 0.25s, filter 0.75s;
    grid-column: auto / span 2;
    border-radius: 5px;

    &:nth-child(5n - 1) { 
      grid-column: 2 / span 2 
    }

    &:hover,
    &:focus {
      clip-path: path("M0,0 C0,0 200,0 200,0 200,0 200,100 200,100 200,100 200,200 200,200 200,200 100,200 100,200 100,200 100,200 0,200 0,200 0,100 0,100 0,100 0,100 0,100Z");
      z-index: 1;
      transition: clip-path 0.25s, filter 0.25s;
    }
    
    &:focus {
      outline: 1px dashed black;
      outline-offset: -5px;
    }
  }
}