
.navbar {
    min-height: 20px;
    position: relative;
    box-shadow: 0 4px 10px rgba(214, 72, 72, 0.3);
    font-family: 'Inter', sans-serif;
    padding: 1px;   
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    background-color: #861616 !important; /* color personalizado */
}
.navbar-logo {
    position: absolute;
    height: 160px;  
    width: auto;
}